:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


header{
  text-align: center;
}


.header-content{
  padding:  0 2rem 2rem 2rem;
}


button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 1.5rem;
  margin-top: 5px;
  width: 60px;
  height: 50px;
}


.navbar-content{
  background-color: rgb(92, 100, 105);
  text-align: center;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 10px;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.element{
  max-width: 380px;
    margin: 2rem 3rem;
    object-fit: cover;
    text-align: center;
    background: linear-gradient( 0deg, rgba(104, 113, 120, 1) 0%, rgba(83, 90, 95, 1) 100% );
    color: white;
    border-radius: 5px;
    box-shadow: rgb(255 255 255 / 10%) 0px 1px 1px 0px inset, rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
}


.element img {
  width: 380px;
  height: 380px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.element p {
  font-size: 1.2rem;
  padding: 0.3rem;
}


.element span {
  font-size: 1rem;
}


.buyAndSellContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.btn-sell {
  background-color: rgb(221, 153, 153);
}


.btn-buy {
  background-color: rgb(158, 221, 153);
} */